<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name='viewport'
      content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>{% block title%}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/master.css' %}"/>
    {% block style %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=Sorts+Mill+Goudy:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  </head>
  <body>

    <header class="banner">

      <nav class="menu">
        <ul>
          <li class="logo"><a href="/home">Ajay Sarathy</a></li>
          <li><a href="/running">Running</a></li>
          <li><a href="/writing">Writing</a></li>
          <li><a href="/music">Music</a></li>
          <li><a href="/cs-projects">CS Projects</a></li>
          <li><a href="{% static 'ajay-resume-2020-fall.pdf' %}">Resume</a></li>
        </ul>
      </nav>
      <div class="title">
        <h1>{% block header %}{% endblock %}</h1>
      </div>
      <img src="{% static 'img/grey-floral.jpg' %}" alt="floral">
    </header>

    {% block content %}
    {% endblock %}

  </body>
</html>
