<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name='viewport'
      content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>{% block title%}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/master.css' %}"/>
    {% block style %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=Sorts+Mill+Goudy:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  </head>
  <body>

    <header>

      <nav>
        <ul>
          <li class="logo">Ajay Sarathy</li>
          <li><a href="/home">About Me</a></li>
          <li><a href="/running">Running</a></li>
          <li><a href="/writing">Writing</a></li>
          <li><a href="/music">Music</a></li>
          <li><a href="/cs-projects">CS Projects</a></li>
          <li><a href="{% static 'ajay-resume-2020-fall.pdf' %}">Resume</a></li>
        </ul>
      </nav>
      <div class="website-heading">
        <h1><span class="page-title">{% block header %}{% endblock %}</span></h1>
      </div>
    </header>

    {% block content %}
    {% endblock %}

  </body>
</html>
