{% extends 'main/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block style %}
  <style>
    hr {
      margin-top: 3em;
      margin-bottom: 3em;
    }

    .line {
      width: 100%;
    }
  </style>
{% endblock %}

{% block header %}Home{% endblock %}

{% block content %}
<div class="page-container">
  <div class="page">

{% comment %}
    <div class="pic-container">
      <div class="pic">
        <img src="{% static 'img/ajay-propic-korea.jpg' %}" alt="Avatar">
      </div>
    </div>
{% endcomment %}

    <h1>Hi, I'm Ajay!</h1>

    <p>I’m a junior at Amherst College, pursuing a B.A. in computer science. Within tech, I have a strong affinity to any discipline that involves creating something new. I’m currently fascinated by topics such as amorphous computing and its intersection with robotics, VR/AR, game programming, and web development. Outside of my academic and professional interests, I’m a competitive runner, hobby writer, and music enthusiast. Take a closer look at my interests: <a href="/running">Running</a>, <a href="/writing">Writing</a>, <a href="/music">Music</a>, <a href="/cs-projects">CS Projects</a>.</p>


    <div class="line">
      <hr>
    </div>

    <h1>Get In Touch</h1>

    <p>Want to talk about my work and projects? Or just interested in chatting about the latest Arctic Monkeys release? Leave me a message!</p>

    <form class="contact-form" action="" method="post">

      {% csrf_token %}

      <ul class="form-row">

        {{form.as_ul}}

        <li><button type="submit">Send</button></li>

      </ul>

    </form>

  </div>
</div>

<div class="footer">

</div>
{% endblock %}
