{% extends 'main/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block style %}
  <style>
    .website-heading {
      background-image: none;
    }

    body {
      background-image: url({% static 'css/pink-flowers-hd-image.jpg' %});
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .footer {
      padding: 2em;
    }

    h1 {
      font-family: 'Indie Flower', cursive;
      text-align: center;
    }

    hr {
      margin-top: 3em;
      margin-bottom: 3em;
    }

    .line {
      width: 100%;
    }
  </style>
{% endblock %}

{% block header %}About Me{% endblock %}

{% block content %}
<div class="page-container">
  <div class="page">

    <div class="pic">
      <img src="{% static 'img/ajay-propic-korea.jpg' %}" alt="Avatar">
    </div>

    <h1>Hi, I'm Ajay!</h1>

    <p>I’m a junior at Amherst College, pursuing a B.A. in computer science. Within tech, I have a strong affinity to any discipline that involves creating something new. I’m currently fascinated by topics such as amorphous computing and its intersection with robotics, VR/AR, game programming, and web development. Outside of my academic and professional interests, I’m a competitive runner, hobby writer, and music enthusiast. Take a closer look at my interests: <a href="/running">Running</a>, <a href="/writing">Writing</a>, <a href="/music">Music</a>, <a href="/cs-projects">CS Projects</a>.</p>

    <div class="line">
      <hr>
    </div>

    <h1>Get In Touch</h1>

    <p>Want to talk about my work and projects? Or just interested in chatting about the latest Arctic Monkeys release? Leave me a message!</p>

    <form class="contact-form" action="" method="post">

      {% csrf_token %}

      <ul class="form-row">

        {{form.as_ul}}

        <li><button type="submit">Send</button></li>

      </ul>

    </form>

  </div>
</div>
<div class="footer">

</div>
{% endblock %}
