{% extends 'main/base.html' %}

{% block title %}Music{% endblock %}

{% block style %}
  <style>
    .page-container {
      background-color: #121212;
    }
  </style>
{% endblock %}

{% block header %}Music{% endblock %}

{% block content %}


  <div class="page-container">

      {% for name, id, image in playlists %}

        <div class="playlist-container">

          <img class='playlist-cover' src="{{image}}" alt="{{name}}">

          <iframe class='playlist' src="https://open.spotify.com/embed/playlist/{{id}}" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

        </div>

      {% endfor %}

  </div>
{% endblock %}
