{% extends 'main/base.html' %}

{% block title %}Writing{% endblock %}

{% block header %}Writing{% endblock %}

{% block content %}
  <div class="page-container">
    <nav class="table-of-contents">
      <div><h1>Poetry</h1></div>
      <ul class="poetry">
        <li><a href="/seen-in-the-sun">Seen in the Sun</a></li>
        <li><a href="/soft-words">Soft Words</a></li>
        <li><a href="/beyond-the-wall">Beyond the Wall</a></li>
        <li><a href="/gone-girl">Gone Girl</a></li>
      </ul>
      <div><h1>Prose</h1></div>
      <ul>
        <li><a href="/brownies-and-whiskey">Brownies & Whiskey</a></li>
      </ul>
    </nav>
  </div>
{% endblock %}
