@font-face {
  font-family: 'Astloch', cursive;
}

@font-face {
  font-family: 'Sorts Mill Goudy', serif;
}

@font-face {
  font-family: 'Indie Flower', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.8em;
  color: #5D6063;
  background-color: #fdf7ff; /* light light pink */
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  font-weight: normal;
  font-style: normal;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.5em;
}

p a:link,
p a:visited {
  color:  #ad5f84; /* magenta */
  text-decoration: none;
}

p a:hover,
p a:visited:hover,
p a:active,
p a:visited:active {
  color: #242e75; /* dark navy */
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;  /* Or 700 */
}

header {
  text-align: center;
}


/* header */

.banner  {
  display: flex;
  justify-content: center;
  /* padding-bottom: 10em;*/
  position: relative;
  background-color: pink;
  height: 300px;
  width: 100%;
}

.menu {
  position: absolute;
  padding-top: .2em;
  top: 0;
  left: 0;
}

.menu ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.menu li {
  list-style-type: none;
  text-align: left;
  line-height: 1.5em;

  width: 100%;
  padding-left: 1em;
  font-size: 18px;
}

.menu a:link,
.menu a:visited {
  text-decoration: none;
  color: white;
}

.menu a:hover,
.menu a:visited:hover,
.menu a:active,
.menu a:visited:active {
  color: #ad5f84; /* magenta */
  /* text-decoration: underline; */
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  /* border: 1px white solid; */
}

.title h1 {
  font-family: 'Sorts Mill Goudy', serif;
  white-space: nowrap;
  color: white;
  font-size: 55px;
  padding-left: 5px;
  padding-right: 5px;
}

.banner img {
  object-fit: cover;
  overflow: hidden;
  with: 100%;
}




/*
header nav {
  background-color: #ad5f84; /* magenta
}

header nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

header nav li {
  list-style-type: none;

  width: 100%;
  padding-top: .1em;
  padding-bottom: .1em;
  border-bottom: 1px solid #fcf2ff; /* light pink
  /* font-family: 'Sorts Mill Goudy', cursive;
  font-size: 18px;
}

header nav a:link,
header nav a:visited {
  color: #fcf2ff; /* light pink
  text-decoration: none;
}

header nav a:hover,
header nav a:visited:hover,
header nav a:active,
header nav a:visited:active {
  color: #242e75; /* dark navy
  /* text-decoration: underline;
}
*/
.logo {
  font-family: 'Astloch', cursive;
  font-weight: 700;
  font-size: 24px;
  color: #fcf2ff; /* light pink */
}

/*
.website-heading {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: transparent;
  border: black 1px solid;
}

.website-heading h1 {
  font-family: 'Sorts Mill Goudy', cursive;
  font-size: 50px;
  color: #fcf2ff; /* light pink
}
*/


/* page */

.page-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;

  width: 100%;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 1em;
  padding-right: 1em;
  padding-top:3em;
  padding-bottom: 2em;

  max-width: 900px;
  margin: 0 auto;
  background-color: #fdf7ff; /* light light pink */
  /* border: solid 1px red; */
}

/* writing */

.table-of-contents {
  width: 100%;
}

.table-of-contents ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.table-of-contents li {
  list-style-type: none;

  width: 100%;
  margin-top: 0em;
  margin-bottom: 2em;
  text-align: center;
  font-family: 'Sorts Mill Goudy', cursive;
}

.table-of-contents div {
  margin-top: 3em;
  margin-bottom: 2em;
  width: 100%;
  text-align: center;
}

.table-of-contents h1 {
  font-size: 1.5em;
  font-family: cursive;
  font-weight: bold;
}

.poetry li {
  width: 50%
}

.table-of-contents a:link,
.table-of-contents a:visited {
  color: #ad5f84; /* magenta */
  text-decoration: none;
}

.table-of-contents a:hover,
.table-of-contents a:visited:hover,
.table-of-contents  a:active,
.table-of-contents a:visited:active {
  color: #242e75; /* dark navy */
  /* text-decoration: underline; */
}

/* BIO */

.bio {
  width: 100%;
  flex-wrap: wrap
  padding-top: 1em;
}

.pic img {
  height: auto;
  width: 100%;
  /*border: 2px solid #242e75; /* dark navy */
}

.pic {
  float: left;
  width: 100%;
  max-width: 300px;
  margin-right: 20px;
}

.bio p {
  font-size: 19px;
  margin-top: 0;
}

.bio h1 {
  padding-top: .1em;
}

/* Contact Form */

.contact-form {
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;

  width: 80%;
  padding: 50px;
  margin: 0 0 40px 0;
}

.form-row li {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 1px solid RED; */
}

.form-row li input[type='text'],
.form-row li input[type='email'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;

  font-family: 'Sorts Mill Goudy', serif;
  font-weight: 400;
  font-size: 14px;
  color: #5D6063;
  /* border: 1px solid BLUE; */
}

.form-row li label {
  margin-bottom: 15px;
  /* border: 1px solid GREEN; */
}

.form-row li textarea {
  width: 100%;

  font-family: 'Sorts Mill Goudy', serif;
  font-weight: 400;
  color: #5D6063;
  font-size: 14px;

  border: 1px solid #D6D9DC;
  border-radius: 3px;

  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: vertical;
}

.form-row li button {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #5995DA;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

.form-row li button:hover {
  background-color: #76AEED;
}

.form-row li button:active {
  background-color: #407FC7;
}

.playlist-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  max-height: 400px;
}

.playlist{
  display: none;
}

.playlist-container:hover .playlist{
  position: absolute;
  display: flex;
  z-index: 2;
  width: 100%;
  height: 100%;
}


.playlist-cover {
  object-fit: cover;
  overflow: hidden;
  with: 100%;
}

@media only screen and (min-width: 640px) {
  .menu li {
    width: auto;

    padding-bottom: .3em
    /* border-bottom: none; */
  }

  .menu li:nth-of-type(2n) {
    border-left: none;
  }

  .logo {
    border-bottom: none;
  }

  .page {
    padding: 4em;
    padding-top:3em;
    padding-bottom: 2em;
  }

  .contact-form {
    width: 600px;
  }

  .form-row li {
    flex-direction: row;
    align-items: flex-start; /* To avoid stretching */
    margin-bottom: 20px;
  }

  .form-row li input[type='text'],
  .form-row li input[type='email']{
    width: 300px;
    height: initial;
  }

  .form-row li label {
    text-align: right;
    width: 120px;

    padding-right: 20px;
  }

  .playlist-container {
    width: 33.3333%;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1200px) {
  .playlist-container {
    width: 50%;
  }
}
