
.poem-prose {
  padding: 4em;

  /* width: 100%; */
  max-width: 900px;
  margin: 0 auto;
  /* border: solid 1px red; */
}

.poem-prose h1 {
  font-size: 24px;
  margin-bottom: 1em;
}

.poem-prose p {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.5em;
}

.soft-words p {
  margin-top: 0em;
  margin-bottom: 0em;
}

.sonnet {
  text-indent: 2em;
}

.writing-container  {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  /* border: solid 1px green; */
}

aside {
  display: flex;
  justify-content: center;
  width: 100%;

}

.side-bar {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #ad5f84; /* magenta */

}

.side-bar ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.side-bar li {
  list-style-type: none;

  width: auto;
  padding: .3em;

  text-align: center;
  font-family: 'Sorts Mill Goudy', cursive;

}

.selected {
  display: none;
}



.side-bar a:link,
.side-bar a:visited {
  color: #fcf2ff; /* light pink */
  text-decoration: none;
}

.side-bar a:hover,
.side-bar a:visited:hover,
.side-bar a:active,
.side-bar a:visited:active {
  color: #242e75; /* dark navy */
}


@media only screen and (min-width: 1180px) {

  aside {
    display: flex;
    width: auto;
    position: absolute;
    right: 0;
  }

  .side-bar {
    padding: 1em;
    top: 0;
    background-color: transparent;
    border-left: 2px solid #ad5f84; /* magenta */
  }

  .side-bar  ul {
    display: flex;
    flex-direction: column;
  }

  .side-bar li {
    list-style-type: none;

    padding: 0em;
    text-align: center;
    font-family: 'Sorts Mill Goudy', cursive;
  }

  .selected {
    display: list-item;
  }

  .side-bar a:link,
  .side-bar a:visited {
    color: #ad5f84; /* magenta */
  }

}
