{% extends 'main/writing/writing-base.html' %}

{% block page %}

  <div class="writing-container">

    <div class="poem-prose">

      <h1>Beyond the Wall</h1>

      <p>Papa, tell me of the church<br>
      that sits beyond the wall,<br>
      of the men in their pinstriped suits<br>
      and the women in their pretty pink dresses.<br></p>

      <p>How it is lost in the fog,<br>
      far from our eyes<br>
      and further from our grasp.<br></p>

      <p>Mama, why do you walk<br>
      behind the wall<br>
      hidden from the men in pinstripe suits<br>
      And the women in pretty pink dresses?<br></p>

      <p>Why your heels ache<br>
      and toes cry with each step<br>
      you must labor?<br></p>

      <p>And You,<br>
      why do You spy above the wall,<br>
      gazing upon those You do not grace?<br></p>


    </div>


  </div>


{% endblock %}
