{% extends 'main/writing/writing-base.html' %}

{% block page %}

  <div class="writing-container">

    <div class="poem-prose">

      <h1>Gone Girl</h1>

      <p>Like remembering a long forgotten dream,<br>
      the memories came fast and mangled, not</p>

      <p class="indent italic">Thank you for helping me when I was struggling</p>

      <p>soft and neatly folded on the front porch,<br>
      with a letter in the pocket. The waves of recollection<br>
      pull at my feet, first refreshing, then frightening.<br>
      The ugliness</p>

      <p class="indent italic">It meant everything to me</p>

      <p>seeping into my nostalgia, like the deep<br>
      blue stains I couldn't file off around the cuff.<br>
      But still</p>

      <p class="indent italic">I wish you well</p>

      <p>familiarity brings comfort. Fleeting but<br>
      difficult to let go.</p>

      <p class="indent italic">Goodbye,</p>

      <p>Wait, don’t––</p>

      <div style="padding-top:1em;"></div>

      <p class="italic">leave me alone.</p>


    </div>


  </div>


{% endblock %}
