{% extends 'main/writing/writing-base.html' %}

{% block page %}

  <div class="page">

    <div class="poem-prose">

      <h1>Seen in the Sun</h1>

      <p>Seen in the sun my skinny love <br>
      Tip toes across as though an acrobat <br>
      And I watch from afar feeling <br>
      The bittersweet taste of coffee <br>
      Lingering in my mouth</p>

      <p>Her hair jagged and brave <br>
      But heart sleeping in a birdcage <br>
      My skinny love reaches for a hand <br>
      Waiting for the warmth to spread <br>
      Through fingers on skin</p>

      <p>Seen in the sun <br>
      I’ll be resting in her shadow <br>
      And she’ll be holding back</p>

    </div>




  </div>

{% endblock %}
