{% extends 'main/writing/writing-base.html' %}

{% block page %}

  <div class="writing-container">

    <div class="poem-prose soft-words">

      <h1>Soft Words</h1>

      <p>The gavel strikes, bringing all eyes to stare. <br>
      I rise slowly, my words soft but skin harsh. <br>
      But like dry heat that crawls across the bare <br>
      Desert sand, the courtroom is quick to parch <br>
      My voice and tell a tale of crimes I did <br>
      Not do. And their eyes, playing as God, <br>
      Gaze through their spectacles, ready to bid <br>
      A verdict, to tarnish a name, a fraud. <br>
      But I, seemingly passive and resigned, <br>
      Rage under my mask, seeking for justice. <br>
      King of my fate, king of my name, Bull Shit, <br>
      I see my brothers waiting in my shroud. <br>
      </p>
      <p class="indent">Do not let truth be lost to the Black Sea. <br></p>
      <p class="indent">Listen to my soft words, let us be free. <br></p>


    </div>




  </div>

{% endblock %}
