{% extends 'main/base.html' %}
{% load static %}

{% block title%}Writing{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/writing.css' %}"/>
{% endblock %}

{% block header %}Writing{% endblock %}

{% block content %}
  <div class="page-container">
  {% block page %}
  {% endblock %}

  <aside>
    <nav class="side-bar">
      <ul>
        <li class="selected">Poetry</li>
        <li><a href="/seen-in-the-sun">Seen in the Sun</a></li>
        <li><a href="/soft-words">Soft Words</a></li>
        <li><a href="/beyond-the-wall">Beyond the Wall</a></li>
        <li><a href="/gone-girl">Gone Girl</a></li>
        <li class="selected">Prose</li>
        <li><a href="/brownies-and-whiskey">Brownies & Whiskey</a></li>
      </ul>
    </nav>
  </aside>
  </div>
{% endblock %}
